.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
}

.kareer {
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}

.studio {
    color: grey;
    font-family: 'Antonio', sans-serif;
    margin-left: 5px;

    transform: translateY(-3px);
}
