.floating-label-group {
    position: relative;
    margin-bottom: 25px;
}

.floating-label-group .floating-label {
    font-size: 13px;
    color: #b6b5b5;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 12px;
    transition: all 0.1s ease;
}

.floating-label-group input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: -23px;
    bottom: 0px;
    left: 0px;
    font-size: 13px;
    opacity: 1;
    color: #404040;
}

.row {
    margin-top: 10px;
}
